@page "/Admin/EditDomainTemplate/{id:int}"
@attribute [Authorize(Roles = "Admin,CoteStaff")]

@if (DomainTemplate != null)
{
    <div>
        @DomainTemplate.DomainInternalTitle
    </div>

    <div>
    <label for="title">Title</label>
    <input id="title" type="text" @bind="DomainTemplate.DomainTitle" />
    </div>

    <div>
    <label for="description">Description</label>
    <input id="description" type="text" @bind="DomainTemplate.DomainDescription" />
    </div>

    <button @onclick="Save">Save Domain Template</button>

    <hr />

    @foreach (var componentTemplate in DomainTemplate.ComponentTemplates.OrderBy(c => c.Order)) {
        <div>
            <label for="c_title_@componentTemplate.Id">Title</label>
            <input id="c_title_@componentTemplate.Id" type="text" @bind="componentTemplate.ComponentTitle" />
        </div>

        @foreach (var componentTemplateOption in componentTemplate.ComponentOptionTemplates.OrderBy(c => c.QuantitativeScore))
        {
            <div>
                <label for="co_title_@componentTemplateOption.Id">Title</label>
                <input id="co_title_@componentTemplateOption.Id" type="text" @bind="componentTemplateOption.QualitativeScore" />
            </div>
        }
    }
}