@page "/Admin/EditFormTemplate/{id:int?}"
@attribute [Authorize(Roles = "Admin,CoteStaff")]

<PageTitle>Add / Edit Form Template</PageTitle>
<h1>Add / Edit Form Template</h1>

<p>This is to handle form template infomration -- what considerations and final summary options the end user sees. </p>

<div>
    Title (for your reference): <br />
    <input type="text" @bind="FormTemplate.Title" class="form-control" style="width: 100%; border-radius: 5px; padding: 10px; font: 16px / 18px var(--il-source-sans); border: thin var(--il-blue) solid;" />
</div>

<div>
    Internal Lookup String (this is an internal value; please contact IT to determine what this should be): <br />
    <input type="text" @bind="FormTemplate.InternalLookupString" class="form-control" style="width: 100%; border-radius: 5px; padding: 10px; font: 16px / 18px var(--il-source-sans); border: thin var(--il-blue) solid;" />
</div>

<h2>Considerations</h2>
@foreach (var domain in DomainList.Domains.OrderBy(d => d.DomainEnum))
{
    <h3>@domain.Title</h3>
    <p>Put each consideration on a single line. Do not use numbers, astericks, or bullets to put them in a list. These will be automatically added as a bulletted list to the form.</p>
    <p>If you need to add, remove, or change components, please contact IT.</p>

    @foreach (var component in domain.Components.OrderBy(c => c.ComponentOrder))
    {
        <ConsiderationEditor Title="@component.Title" ConsiderationId="@component.Code" ConsiderationTemplate="FormTemplate.GetConsiderationTemplate(domain.DomainEnum, component.ComponentOrder)" OnChangeCallback="e => SaveConsideration(e)" />
    }

}

<p><button class="il-button" @onclick="Save">Save Changes</button></p>