<label for="consid-@ConsiderationId">@Title</label>
<div class="strengths-next-steps">
<textarea id="consid-@ConsiderationId" @bind="ConsiderationText" @bind:event="onchange" @bind:after="Save" class="admin-textarea"></textarea>
</div>
<hr />
