<div class="strengths-next-steps">
    <div>
        <p>Strengths:</p>
        <textarea @bind="DomainAnswer.Strengths" @bind:event="onchange" @bind:after="SaveAnswer"></textarea>
    </div>
    <div>
        <p>Next Steps:</p>
        <textarea @bind="DomainAnswer.NextSteps" @bind:event="onchange" @bind:after="SaveAnswer"></textarea>
    </div>
</div>