<div>
    <div class="danielson-title-details">
        <div>
            <strong>Evaluated By: </strong> @EvaluatedBy
        </div>
        <div>
            <strong>Evaluation Date: </strong> @EvaluationDate
        </div>
        <div>
            <strong>Form Type: </strong> @FormType
        </div>
        <div>
            <strong>Semester: </strong> @Semester
        </div>
    </div>
    <fieldset class="heading">
        <legend>Form</legend>
        <strong>Form: </strong>
        <input type="radio" name="formtype" disabled="@(IsReadOnly && !IsMidterm)" id="formtype-midterm" value="midterm" checked="@IsMidterm" @onchange="e => SaveChange(true)" />
        <label for="formtype-midterm">Midterm</label>
        <input type="radio" name="formtype" disabled="@(IsReadOnly && IsMidterm)" id="formtype-final" value="final" checked="@(!IsMidterm)" @onchange="e => SaveChange(false)" />
        <label for="formtype-final">Final</label>
    </fieldset>
</div>