@page "/"
<PageTitle>Manage Evaluation Considerations Templates | CoTE Portal | Illinois</PageTitle>


<AuthorizeView>
    <Authorized>
        <h1>Manage Evaluation Considerations Templates</h1>
        <p>Edit or add templates of considerations text for domain components.</p>
        
        @if (FormTemplates != null)
        {
            <h2>Evaluation Form Considerations Templates</h2>
            <p>The default template is used for all programs that do not have a template of their own.</p>
            <ul>
                @foreach (var formTemplate in FormTemplates)
                {
                    <li><a href="/Admin/EditFormTemplate/@formTemplate.Id">Edit <strong>@formTemplate.Title</strong> Template</a></li>
                }
                <li><a href="/Admin/EditFormTemplate">Add New Form Considerations Template</a></li>
            </ul>

        }
    </Authorized>
    <NotAuthorized>

        <p>You are not logged in. Log into the CoTE portal to continue.</p>
    </NotAuthorized>
</AuthorizeView>

