@page "/"
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <p>@context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>Not logged in</p>
    </NotAuthorized>
</AuthorizeView>

<p><a href="/Account/LoginPassthrough">Generic Login Page</a></p>

<h2>Testing accessing a form</h2>

<p><a href="/Form/Domain/1">Form ID #1</a> (for testing purposes only)</p>

@if (FormTemplates != null)
{
    <h2>Form Templates</h2>
    <ul>
        @foreach (var formTemplate in FormTemplates) {
            <li><a href="/Admin/EditFormTemplate/@formTemplate.Id">Edit <strong>@formTemplate.Title</strong> Template</a></li>
        }
        <li><a href="/Admin/EditFormTemplate">Add New Form Template</a></li>
    </ul>
    
}