@page "/"
<PageTitle>Manage Evaluation Considerations Templates</PageTitle>

<h1>Manage Evaluation Considerations Templates</h1>

Edit or add templates of considerations text for domain components.

<AuthorizeView>
    <Authorized>
        <p>@context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>Not logged in</p>
    </NotAuthorized>
</AuthorizeView>

@if (FormTemplates != null)
{
    <h2>Evaluation Form Considerations Templates</h2>
    <ul>
        @foreach (var formTemplate in FormTemplates) {
            <li><a href="/Admin/EditFormTemplate/@formTemplate.Id">Edit <strong>@formTemplate.Title</strong> Template</a></li>
        }
        <li><a href="/Admin/EditFormTemplate">Add New Form Considerations Template</a></li>
    </ul>
    
}