<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="https://cdn.toolkit.illinois.edu">
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="https://cdn.toolkit.illinois.edu/2.16/toolkit.css" media="all">
    <script src="https://cdn.toolkit.illinois.edu/2.16/toolkit.js"></script>
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Danielson.styles.css" />
    <script>
        let timeoutID;
        function OnScrollEvent() {
            document.documentElement.scrollTop = 0;
        }
        function ExpandAll() {
            document.querySelectorAll("details").forEach((detail) => {
                detail.open = true;
            });
        }
        function CollapseAll() {
            document.querySelectorAll("details").forEach((detail) => {
                detail.open = false;
            });
        }
        function AlertOnScreen() {
            var alertItem = document.querySelector('#update-alert');
            alertItem.className = 'fadein';
            timeoutID = setTimeout(function () { alertItem.className = 'fadeout'; }, 5000);
            setTimeout(function () { alertItem.className = ''; }, 5750);
            return true;
        }
        function removeAlertOnScreen() {
            var alertItem = document.querySelector('#update-alert');
            alertItem.className = '';
            clearTimeout(timeoutID);
            return true;
        }
    </script>
    <HeadOutlet />
</head>

<body>
    <il-header>
        <div slot="wordmark">
            <il-unit-wordmark>
                <p class="il-primary-unit"><a href="https://cote.illinois.edu/cote-portal-access">CoTE Portal</a></p>
                <h1 class="il-secondary-unit"><a href="/">Evaluation Form</a></h1>
            </il-unit-wordmark>
        </div>
        <nav slot="links" aria-label="top right quick links" class="il-links">
            <ul>
                <li><a href="https://cote.illinois.edu/cote-portal-access">Portal Login</a></li>
                <li><a href="https://help.uillinois.edu/TDClient/44/Portal/Requests/TicketRequests/NewForm?ID=3W3AlrEyvw8_&RequestorType=Service">Need Help?</a></li>
            </ul>
        </nav>
    </il-header>
    <main class="il-formatted">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    </main>
    <il-footer>
        <div slot="contact" class="il-footer-contact uofi_address">
            <p><a href="https://cote.illinois.edu/cote-portal-access">CoTE Portal</a></p>
        </div>
        <div class="il-footer-navigation">
            <div style="grid-column-start: 1; grid-column-end: 3;">
                Adapted from - ©️ 2022 <a href="http://www.danielsongroup.org/">The Danielson Group, Inc.</a> All Rights Reserved <br />
                Labels for continuum of practice adapted by and considerations authored by University of Illinois at Urbana-Champaign.
            </div>
        </div>
        <nav slot="links" class="il-footer-links" aria-label="Legal notices">
            <ul>
                <li><button data-il="cookies"></button></li>
                <li><a data-il="privacy"></a></li>
                <li><a data-il="copyright"></a></li>
                <li><a data-il="accessibility"></a></li>
            </ul>
        </nav>
    </il-footer>
</body>

</html>
